In [28]:
import pandas as pd
import openpyxl
import time
import datetime
import numpy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData
from sqlalchemy.sql.expression import update
meta = MetaData()
from sqlalchemy.sql import text

In [2]:
def clean_lineups(path):
    
    stats_df = pd.read_excel(path, sheet_name="Lineups", engine="openpyxl")
    stats_df = stats_df.fillna(0)
    stats_df = stats_df.drop([0], axis = "index")
    stats_df = stats_df.reset_index()
    stats_df = stats_df.rename(columns=stats_df.iloc[0]).drop(stats_df.index[0])
    stats_df = stats_df.drop([1, "noPivot", "Box", 0.0, 0, "Team Roster"], axis = 1)
    stats_df.columns = ["jam_number",
                        "home_jammer_number",
                        "home_pivot_number",
                        "home_blocker_1_number",
                        "home_blocker_2_number",
                        "home_blocker_3_number",
                        "redundant",
                        "away_jammer_number",
                        "away_pivot_number",
                        "away_blocker_1_number",
                        "away_blocker_2_number",
                        "away_blocker_3_number"]
    stats_df = stats_df.drop(["redundant"], axis = 1)
    #Splitting Period one and two into separate dataframes
    period_one_lineups_df = stats_df[0:38]
    period_one_lineups_df["period"] = 1
    period_two_lineups_df = stats_df[42:80]
    period_two_lineups_df["period"] = 2
    frames = [period_one_lineups_df, period_two_lineups_df]
    result_df = pd.concat(frames).reset_index(drop=True)
    result_df = result_df.loc[result_df["jam_number"] != 0].reset_index(drop=True)
    
    return result_df

In [63]:
def clean_sk(path):

    stats_df = pd.read_excel(path, sheet_name="SK", engine="openpyxl")

    #Formatting the sheet
    stats_df = stats_df.dropna(axis=1, how="all")
    stats_df = stats_df.dropna(axis="index", how="all").reset_index()
    stats_df = stats_df = stats_df.rename(columns=stats_df.iloc[0]).drop(stats_df.index[0])
    stats_df = stats_df.drop([0], axis = 1)
    stats_df.columns = ["jam_number",
                    "not_needed",
                    "home_jammer_number",
                    "home_points_scored",
                    "not_needed",
                    "not_needed",
                    "home_lost_lead",
                    "home_gained_lead",
                    "not_needed",
                    "home_called_off_jam",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "away_jammer_number",
                    "away_points_scored",
                    "not_needed",
                    "not_needed",
                    "away_lost_lead",
                    "away_gained_lead",
                    "not_needed",
                    "away_called_off_jam",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed"]
    stats_df  = stats_df.drop(["not_needed"], axis = 1)
    stats_df = stats_df.fillna("0")
    stats_df = stats_df[(stats_df.T != 0).any()]
    stats_df = stats_df.reset_index(drop=True)

    #Splitting Period one and two into separate dataframes
    period_one_stats_df = stats_df[:38]
    period_one_stats_df["period"] = 1
    period_two_stats_df = stats_df[42:80]
    period_two_stats_df["period"] = 2
    
    #Concat back together with the period number column
    frames = [period_one_stats_df, period_two_stats_df]
    result_df = pd.concat(frames).reset_index(drop=True)
    result_df = result_df.loc[result_df["jam_number"] != 0].reset_index(drop=True)
    
    #Remove Empty Jam rows with no scores in them
    columns = ["home_jammer_number", "away_jammer_number", "home_points_scored", "home_lost_lead", "home_gained_lead", "home_called_off_jam", "away_points_scored", "away_gained_lead", "away_lost_lead", "away_called_off_jam"]
    result_df = result_df.replace("0", pd.np.nan)
    result_df = result_df.dropna(subset=columns, thresh=3).fillna(0).astype(int)
    
    return result_df

In [5]:
def clean_igrf(path):
    """ Returns dictionary of game information given stats workbook
    
        Parameters:
            path (str): the path of the xlsx spreadsheet
            
        Returns:
            data_dict (dict): a dictionary with the following key-values:
                timestamp (timestamp): the time and date that the game occured
                home_league (str): name of home league
                away_league (str): name of away league
                home_team (str): name of home team
                away_team (str): name of away team
                home_pts (int): points home team scored
                away_pts (int): points away team scored
                home_roster (list): list of dictionaries with the following
                    key-value pairs for home team skaters:
                    skater_no (int): skater's number
                    skater_name (str): name of skater
                away_roster (list): list of dictionaries with the following
                    key-value pairs for away team skaters:
                    skater_no (int): skater's number
                    skater_name (str): name of skater
    """
    def clean_roster(df):
    
        """Given dataframe of player numbers and names
            Returns a roster as a list of dictionaries
        """

        df.dropna(axis=0, how="any", inplace=True)
        df.columns = ["skater_no", "skater_name"]
        roster = df.to_dict('records')
        return roster
    
    igrf_df = pd.read_excel(path, sheet_name="IGRF", engine="openpyxl")
    game_date = igrf_df.iloc[5, 1]
    start_time = igrf_df.iloc[5, 8]
    home_league = igrf_df.iloc[8,1]
    away_league = igrf_df.iloc[8,8]
    home_team = igrf_df.iloc[9,1]
    away_team = igrf_df.iloc[9,8]
    home_pts = igrf_df.iloc[36, 2]
    away_pts = igrf_df.iloc[36, 9]
    home_roster = clean_roster(igrf_df.iloc[12:31,1:3])
    away_roster = clean_roster(igrf_df.iloc[12:31,8:10])
    
    timestamp = datetime.datetime.combine(game_date, start_time)

    data_dict = {}

    data_dict = {"timestamp": timestamp,
                 "home_league": home_league,
                 "away_league": away_league,
                 "home_team": home_team,
                 "away_team": away_team,
                 "home_pts": home_pts,
                 "away_pts": away_pts,
                 "home_roster": home_roster,
                 "away_roster": away_roster
                }
    
    return data_dict

In [6]:
def resultproxy_clean(result):
    result = result.fetchone()
    result = result.values()
    result = result[0]
    return result

In [ ]:
#IMPORTANT - NEED GAME ID

In [64]:
scores_df = clean_sk("../STATS/all_stars_2018/test.xlsx")
data_dict = clean_igrf("../STATS/all_stars_2018/test.xlsx")

game_id = 2118051218

/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
<ipython-input-63-6ed14b23eb6c>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  period_one_stats_df["period"] = 1
<ipython-input-63-6ed14b23eb6c>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  period_two_stats_df["period"] = 2
<ipython-input-63-6ed14b23eb6c>:58: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  result_df = result_df.replace("0", pd.np.nan)
/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [65]:
pd.set_option('display.max_rows', scores_df.shape[0]+1)

scores_df

,jam_number,home_jammer_number,home_points_scored,home_lost_lead,home_gained_lead,home_called_off_jam,away_jammer_number,away_points_scored,away_lost_lead,away_gained_lead,away_called_off_jam,period
0,1,1706,3,0,1,1,480,0,0,0,0,1
1,2,10,2,0,1,1,814,0,0,0,0,1
2,3,1706,4,0,1,1,6,0,0,0,0,1
3,4,1978,4,0,1,1,111,0,1,0,0,1
4,5,10,0,1,0,0,111,13,0,1,1,1
5,6,56,2,0,1,1,480,0,0,0,0,1
6,7,1706,4,0,1,1,814,0,0,0,0,1
7,8,1978,0,0,1,1,6,0,0,0,0,1
8,9,1706,0,1,0,0,111,14,0,1,0,1
9,10,10,0,0,1,1,480,0,0,0,0,1
10,11,56,5,0,1,1,814,0,0,0,0,1
11,12,1978,4,0,1,1,6,0,0,0,0,1
12,13,1706,9,0,1,1,480,0,0,0,0,1
13,14,10,19,1,1,0,814,9,0,0,0,1
14,15,1706,2,0,1,1,6,0,0,0,0,1
15,16,1978,3,0,1,1,111,0,0,0,0,1
16,17,56,9,0,1,1,480,0,0,0,0,1
17,18,10,0,0,0,0,814,3,0,1,1,1
18,19,1706,18,0,1,1,6,0,0,0,0,1
19,20,1978,0,0,0,0,111,5,0,1,0,1
20,21,1978,0,0,0,0,480,11,0,1,1,1
21,22,10,14,0,1,1,814,0,0,0,0,1
38,1,1706,14,0,1,1,480,0,0,0,0,2
39,2,10,0,0,0,0,814,3,0,1,1,2
40,3,1706,0,0,0,0,6,11,0,1,1,2
41,4,1978,0,0,0,0,111,2,0,1,1,2
42,5,56,0,0,0,0,480,5,0,1,1,2
43,6,10,16,0,1,1,814,0,0,0,0,2
44,7,1706,4,0,1,0,6,0,1,0,0,2
45,8,1978,4,0,1,1,6,0,0,0,0,2
46,9,10,0,1,0,0,111,20,0,1,1,2
47,10,10,15,0,1,1,480,0,0,0,0,2
48,11,56,1,0,1,1,814,0,0,0,0,2
49,12,1706,0,0,0,0,6,0,0,1,1,2
50,13,1978,3,0,0,0,111,13,0,1,1,2
51,14,10,2,0,1,0,480,0,0,0,0,2
52,15,1706,14,0,1,0,814,0,0,0,0,2
53,16,56,10,0,1,1,6,0,1,0,0,2
54,17,1978,4,0,1,1,111,0,0,0,0,2
55,18,10,0,0,0,0,480,0,0,1,1,2
56,19,1706,3,0,1,1,814,0,0,0,0,2
57,20,56,5,0,1,0,6,0,0,0,0,2
58,21,10,19,1,0,0,111,0,1,0,0,2
59,22,10,0,0,0,0,480,4,0,1,1,2
60,23,1706,9,0,1,1,111,0,0,0,0,2

In [62]:
columns = ["home_jammer_number", "away_jammer_number", "home_points_scored", "home_lost_lead", "home_gained_lead", "home_called_off_jam", "away_points_scored", "away_gained_lead", "away_lost_lead", "away_called_off_jam"]
new_scores_df = scores_df.replace("0", pd.np.nan)

new_scores_df = new_scores_df.dropna(subset=columns, thresh=3).fillna(0).astype(int)

new_scores_df

<ipython-input-62-9ffe8faa9cdd>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  new_scores_df = scores_df.replace("0", pd.np.nan)

,jam_number,home_jammer_number,home_points_scored,home_lost_lead,home_gained_lead,home_called_off_jam,away_jammer_number,away_points_scored,away_lost_lead,away_gained_lead,away_called_off_jam,period
0,1,1706,3,0,1,1,480,0,0,0,0,1
1,2,10,2,0,1,1,814,0,0,0,0,1
2,3,1706,4,0,1,1,6,0,0,0,0,1
3,4,1978,4,0,1,1,111,0,1,0,0,1
4,5,10,0,1,0,0,111,13,0,1,1,1
5,6,56,2,0,1,1,480,0,0,0,0,1
6,7,1706,4,0,1,1,814,0,0,0,0,1
7,8,1978,0,0,1,1,6,0,0,0,0,1
8,9,1706,0,1,0,0,111,14,0,1,0,1
9,10,10,0,0,1,1,480,0,0,0,0,1
10,11,56,5,0,1,1,814,0,0,0,0,1
11,12,1978,4,0,1,1,6,0,0,0,0,1
12,13,1706,9,0,1,1,480,0,0,0,0,1
13,14,10,19,1,1,0,814,9,0,0,0,1
14,15,1706,2,0,1,1,6,0,0,0,0,1
15,16,1978,3,0,1,1,111,0,0,0,0,1
16,17,56,9,0,1,1,480,0,0,0,0,1
17,18,10,0,0,0,0,814,3,0,1,1,1
18,19,1706,18,0,1,1,6,0,0,0,0,1
19,20,1978,0,0,0,0,111,5,0,1,0,1
20,21,1978,0,0,0,0,480,11,0,1,1,1
21,22,10,14,0,1,1,814,0,0,0,0,1
38,1,1706,14,0,1,1,480,0,0,0,0,2
39,2,10,0,0,0,0,814,3,0,1,1,2
40,3,1706,0,0,0,0,6,11,0,1,1,2
41,4,1978,0,0,0,0,111,2,0,1,1,2
42,5,56,0,0,0,0,480,5,0,1,1,2
43,6,10,16,0,1,1,814,0,0,0,0,2
44,7,1706,4,0,1,0,6,0,1,0,0,2
45,8,1978,4,0,1,1,6,0,0,0,0,2
46,9,10,0,1,0,0,111,20,0,1,1,2
47,10,10,15,0,1,1,480,0,0,0,0,2
48,11,56,1,0,1,1,814,0,0,0,0,2
49,12,1706,0,0,0,0,6,0,0,1,1,2
50,13,1978,3,0,0,0,111,13,0,1,1,2
51,14,10,2,0,1,0,480,0,0,0,0,2
52,15,1706,14,0,1,0,814,0,0,0,0,2
53,16,56,10,0,1,1,6,0,1,0,0,2
54,17,1978,4,0,1,1,111,0,0,0,0,2
55,18,10,0,0,0,0,480,0,0,1,1,2
56,19,1706,3,0,1,1,814,0,0,0,0,2
57,20,56,5,0,1,0,6,0,0,0,0,2
58,21,10,19,1,0,0,111,0,1,0,0,2
59,22,10,0,0,0,0,480,4,0,1,1,2
60,23,1706,9,0,1,1,111,0,0,0,0,2

In [9]:
data_dict

{'timestamp': datetime.datetime(2018, 5, 12, 18, 30),
 'home_league': 'Gotham Girls Roller Derby',
 'away_league': 'Jacksonville Roller Derby',
 'home_team': 'All-Stars',
 'away_team': 'New Jax City Rollers',
 'home_pts': 225,
 'away_pts': 113,
 'home_roster': [{'skater_no': '010', 'skater_name': 'Giles'},
  {'skater_no': '1680', 'skater_name': 'D.A.R.Y.L.'},
  {'skater_no': '17', 'skater_name': 'Fast and Luce'},
  {'skater_no': '1706', 'skater_name': 'Miss Tea Maven'},
  {'skater_no': '1978', 'skater_name': 'Space Invader'},
  {'skater_no': '213', 'skater_name': 'Spork Chop'},
  {'skater_no': '23', 'skater_name': 'Livvie Smalls'},
  {'skater_no': '314', 'skater_name': 'Caf Fiend'},
  {'skater_no': '32', 'skater_name': 'Cork Rebel'},
  {'skater_no': '4', 'skater_name': 'Violet Knockout'},
  {'skater_no': '41', 'skater_name': 'Roxy Dallas'},
  {'skater_no': '4500', 'skater_name': 'Bonita Apple Bomb'},
  {'skater_no': '56', 'skater_name': 'Kate Sera Sera'},
  {'skater_no': '68', 'skater_name': 'Sarah McKemie'}],
 'away_roster': [{'skater_no': '077', 'skater_name': 'Mad Dog Murph'},
  {'skater_no': '111', 'skater_name': 'Jamsterella'},
  {'skater_no': '21', 'skater_name': 'Coco Frye'},
  {'skater_no': '235', 'skater_name': 'Atomic Mel-Down'},
  {'skater_no': '27', 'skater_name': 'H.M.Smith'},
  {'skater_no': '301', 'skater_name': 'Legs R Us'},
  {'skater_no': '480', 'skater_name': 'Erin Jackson'},
  {'skater_no': '6', 'skater_name': 'Snot Rocket Science'},
  {'skater_no': '62', 'skater_name': 'Fancy Schmancy'},
  {'skater_no': '814', 'skater_name': 'Leanne Groll'},
  {'skater_no': '82', 'skater_name': 'Tic Tac Toni'},
  {'skater_no': '860', 'skater_name': 'Shady Godiva'},
  {'skater_no': '9', 'skater_name': 'Stephanie Gentz'},
  {'skater_no': '912', 'skater_name': 'Eirinn Go Brawl'},
  {'skater_no': '950', 'skater_name': 'Bullet Sucker'}]}

In [10]:
########## FINDING THE ID & NAME OF THE SKATERS IN THE LINEUP ##########

awayroster_df = pd.DataFrame(data_dict["away_roster"])
homeroster_df = pd.DataFrame(data_dict["home_roster"])

home_jammer_list = []
home_pivot_list = []
home_blocker_1_list = []
home_blocker_2_list = []
home_blocker_3_list = []

away_jammer_list = []
away_pivot_list = []
away_blocker_1_list = []
away_blocker_2_list = []
away_blocker_3_list = []

for row in lineup_df.itertuples():
    
    ########## HOME TEAM ##########

    home_jammer_list.append(homeroster_df.loc[(homeroster_df["skater_no"] == row[2])].\
                        reset_index(drop=True)["skater_name"][0])
    home_pivot_list.append(homeroster_df.loc[(homeroster_df["skater_no"] == row[3])].\
                        reset_index(drop=True)["skater_name"][0])
    home_blocker_1_list.append(homeroster_df.loc[(homeroster_df["skater_no"] == row[4])].\
                        reset_index(drop=True)["skater_name"][0])
    home_blocker_2_list.append(homeroster_df.loc[(homeroster_df["skater_no"] == row[5])].\
                        reset_index(drop=True)["skater_name"][0])
    home_blocker_3_list.append(homeroster_df.loc[(homeroster_df["skater_no"] == row[6])].\
                        reset_index(drop=True)["skater_name"][0])
    ########## AWAY TEAM ##########
    away_jammer_list.append(awayroster_df.loc[(awayroster_df["skater_no"] == row[7])].\
                        reset_index(drop=True)["skater_name"][0])
    away_pivot_list.append(awayroster_df.loc[(awayroster_df["skater_no"] == row[8])].\
                        reset_index(drop=True)["skater_name"][0])
    away_blocker_1_list.append(awayroster_df.loc[(awayroster_df["skater_no"] == row[9])].\
                        reset_index(drop=True)["skater_name"][0]) 
    away_blocker_2_list.append(awayroster_df.loc[(awayroster_df["skater_no"] == row[10])].\
                        reset_index(drop=True)["skater_name"][0])
    away_blocker_3_list.append(awayroster_df.loc[(awayroster_df["skater_no"] == row[11])].\
                        reset_index(drop=True)["skater_name"][0])

In [11]:
########## ADDING THE NAMES TO THE LINEUP DATAFRAME ##########

lineup_df.loc[range(len(home_jammer_list)),"home_jammer_name"] = home_jammer_list
lineup_df.loc[range(len(home_pivot_list)),"home_pivot_name"] = home_pivot_list
lineup_df.loc[range(len(home_blocker_1_list)),"home_blocker_1_name"] = home_blocker_1_list
lineup_df.loc[range(len(home_blocker_2_list)),"home_blocker_2_name"] = home_blocker_2_list
lineup_df.loc[range(len(home_blocker_3_list)),"home_blocker_3_name"] = home_blocker_3_list

lineup_df.loc[range(len(away_jammer_list)),"away_jammer_name"] = away_jammer_list
lineup_df.loc[range(len(away_pivot_list)),"away_pivot_name"] = away_pivot_list
lineup_df.loc[range(len(away_blocker_1_list)),"away_blocker_1_name"] = away_blocker_1_list
lineup_df.loc[range(len(away_blocker_2_list)),"away_blocker_2_name"] = away_blocker_2_list
lineup_df.loc[range(len(away_blocker_3_list)),"away_blocker_3_name"] = away_blocker_3_list

In [13]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/GGRD_Database')
conn = engine.connect()

In [71]:
########## CREATING THE DATAFRAME FOR EACH JAM USING A DICTIONARY ##########

row_list_dict = []

for row in lineup_df.itertuples():
    
    jam_number = int(row[1])
    period_number = int(row[12])
    
    query_one = text("SELECT skater_id FROM skater WHERE skater_number = :sno AND skater_name = :sna;")

    home_jammer_id = conn.execute(query_one,{"sno" : row[2], "sna" : row[13]})
    home_jammer_id = resultproxy_clean(home_jammer_id)
    
    home_pivot_id = conn.execute(query_one,{"sno" : row[3], "sna" : row[14]})
    home_pivot_id = resultproxy_clean(home_pivot_id)

    home_blocker1_id = conn.execute(query_one,{"sno" : row[4], "sna" : row[15]})
    home_blocker1_id = resultproxy_clean(home_blocker1_id)

    home_blocker2_id = conn.execute(query_one,{"sno" : row[5], "sna" : row[16]})
    home_blocker2_id = resultproxy_clean(home_blocker2_id)

    home_blocker3_id = conn.execute(query_one,{"sno" : row[6], "sna" : row[17]})
    home_blocker3_id = resultproxy_clean(home_blocker3_id)   

    away_jammer_id = conn.execute(query_one,{"sno" : row[7], "sna" : row[18]})
    away_jammer_id = resultproxy_clean(away_jammer_id)

    away_pivot_id = conn.execute(query_one,{"sno" : row[8], "sna" : row[19]})
    away_pivot_id = resultproxy_clean(away_pivot_id)

    away_blocker1_id = conn.execute(query_one,{"sno" : row[9], "sna" : row[20]})
    away_blocker1_id = resultproxy_clean(away_blocker1_id)

    away_blocker2_id = conn.execute(query_one,{"sno" : row[10], "sna" : row[21]})
    away_blocker2_id = resultproxy_clean(away_blocker2_id)

    away_blocker3_id = conn.execute(query_one,{"sno" : row[11], "sna" : row[22]})
    away_blocker3_id = resultproxy_clean(away_blocker3_id)
    
    row_list_dict.append({
            "game_id" : game_id,
            "jam_number" : jam_number,
            "period_number" : period_number,
            "home_jammer" : home_jammer_id,
            "home_pivot" : home_pivot_id,
            "home_blocker_1" : home_blocker1_id,
            "home_blocker_2" : home_blocker2_id,
            "home_blocker_3" : home_blocker3_id,
            "away_jammer" : away_jammer_id,
            "away_pivot" : away_pivot_id,
            "away_blocker_1" : away_blocker1_id,
            "away_blocker_2" : away_blocker2_id,
            "away_blocker_3" : away_blocker3_id,})
    
lineup_id_df = pd.DataFrame(row_list_dict)
lineup_id_df

,game_id,jam_number,period_number,home_jammer,home_pivot,home_blocker_1,home_blocker_2,home_blocker_3,away_jammer,away_pivot,away_blocker_1,away_blocker_2,away_blocker_3
0,2118051218,1,1,4,7,3,8,14,21,20,28,29,27
1,2118051218,2,1,1,2,11,12,10,24,17,18,25,23
2,2118051218,3,1,4,7,3,8,14,22,20,27,29,28
3,2118051218,4,1,5,7,3,10,11,16,17,18,23,28
4,2118051218,5,1,1,3,8,6,14,16,20,18,28,27
5,2118051218,6,1,13,2,12,11,10,21,20,17,18,23
6,2118051218,7,1,4,3,14,11,8,24,20,28,27,23
7,2118051218,8,1,5,9,12,11,10,22,17,19,23,25
8,2118051218,9,1,4,3,8,14,7,16,20,29,28,27
9,2118051218,10,1,1,2,12,10,11,21,20,17,23,18
10,2118051218,11,1,13,3,8,6,14,24,20,27,28,18
11,2118051218,12,1,5,9,10,11,12,22,17,23,28,18
12,2118051218,13,1,4,7,3,14,8,21,20,27,28,18
13,2118051218,14,1,1,2,10,11,12,24,17,23,25,15
14,2118051218,15,1,4,3,10,14,8,22,20,28,27,29
15,2118051218,16,1,5,9,12,10,11,16,17,25,18,23
16,2118051218,17,1,13,7,14,8,3,21,17,28,20,27
17,2118051218,18,1,1,2,10,11,12,24,17,25,18,23
18,2118051218,19,1,4,7,3,8,14,22,20,29,28,27
19,2118051218,20,1,5,9,11,10,12,16,17,18,23,25
20,2118051218,21,1,5,3,14,8,6,21,20,29,28,27
21,2118051218,22,1,1,2,12,10,11,24,17,23,28,18
22,2118051218,1,2,4,2,3,8,14,21,20,28,27,29
23,2118051218,2,2,1,12,11,8,10,24,17,23,25,18
24,2118051218,3,2,4,12,3,8,14,22,20,29,28,27
25,2118051218,4,2,5,9,10,11,12,16,17,23,18,25
26,2118051218,5,2,13,7,3,14,8,21,20,28,29,27
27,2118051218,6,2,1,7,10,12,11,24,17,18,29,27
28,2118051218,7,2,4,7,8,3,14,22,17,28,29,20
29,2118051218,8,2,5,9,10,11,12,22,17,18,23,25
30,2118051218,9,2,1,7,3,14,8,16,20,28,29,27
31,2118051218,10,2,1,2,10,11,12,21,17,18,25,23
32,2118051218,11,2,13,2,3,8,14,24,20,28,29,27
33,2118051218,12,2,4,2,10,11,12,22,17,23,25,18
34,2118051218,13,2,5,7,3,14,8,16,20,27,29,28
35,2118051218,14,2,1,9,10,11,12,21,17,23,25,18
36,2118051218,15,2,4,3,14,8,12,24,20,27,28,29
37,2118051218,16,2,13,12,14,10,11,22,17,23,15,18
38,2118051218,17,2,5,7,3,8,14,16,28,27,15,18
39,2118051218,18,2,1,12,3,11,10,21,17,23,15,18
40,2118051218,19,2,4,7,8,14,3,24,20,27,29,28
41,2118051218,20,2,13,12,10,14,11,22,17,23,18,25
42,2118051218,21,2,1,7,14,8,3,16,17,23,27,28
43,2118051218,22,2,1,9,10,11,12,21,17,23,18,25
44,2118051218,23,2,4,7,3,14,8,16,17,23,18,25

In [72]:
row_list_dict = []

for row in scores_df.itertuples():
    home_team_points_scored = int(row[3])
    away_team_points_scored = int(row[8])
    if row[5] == 1:
        home_lead = True
        away_lead = False
        if row[4] == 1:
            lost_lead = True
        else:
            lost_lead = False
        if row[6] == 1:
            called_jam_off = True
        else:
            called_jam_off = False
    else:
        home_lead = False
        away_lead = True
        if row[9] == 1:
            lost_lead = True
        else:
            lost_lead = False
        if row[11] == 1:
            called_jam_off = True
        else:
            called_jam_off = False
            
    row_list_dict.append({

    "home_team_points_scored" : home_team_points_scored,
    "away_team_points_scored" : away_team_points_scored,
    "home_lead" : home_lead,
    "away_lead": away_lead,
    "lost_lead": lost_lead,
    "called_jam_off": called_jam_off})

pts_lead_df = pd.DataFrame(row_list_dict)

pd.set_option('display.max_rows', pts_lead_df.shape[0]+1)

pts_lead_df

,home_team_points_scored,away_team_points_scored,home_lead,away_lead,lost_lead,called_jam_off
0,3,0,True,False,False,True
1,2,0,True,False,False,True
2,4,0,True,False,False,True
3,4,0,True,False,False,True
4,0,13,False,True,False,True
5,2,0,True,False,False,True
6,4,0,True,False,False,True
7,0,0,True,False,False,True
8,0,14,False,True,False,False
9,0,0,True,False,False,True
10,5,0,True,False,False,True
11,4,0,True,False,False,True
12,9,0,True,False,False,True
13,19,9,True,False,True,False
14,2,0,True,False,False,True
15,3,0,True,False,False,True
16,9,0,True,False,False,True
17,0,3,False,True,False,True
18,18,0,True,False,False,True
19,0,5,False,True,False,False
20,0,11,False,True,False,True
21,14,0,True,False,False,True
22,14,0,True,False,False,True
23,0,3,False,True,False,True
24,0,11,False,True,False,True
25,0,2,False,True,False,True
26,0,5,False,True,False,True
27,16,0,True,False,False,True
28,4,0,True,False,False,False
29,4,0,True,False,False,True
30,0,20,False,True,False,True
31,15,0,True,False,False,True
32,1,0,True,False,False,True
33,0,0,False,True,False,True
34,3,13,False,True,False,True
35,2,0,True,False,False,False
36,14,0,True,False,False,False
37,10,0,True,False,False,True
38,4,0,True,False,False,True
39,0,0,False,True,False,True
40,3,0,True,False,False,True
41,5,0,True,False,False,False
42,19,0,False,True,True,False
43,0,4,False,True,False,True
44,9,0,True,False,False,True

In [73]:
jams_final_df = pd.concat([lineup_id_df, pts_lead_df], axis=1)
jams_final_df

,game_id,jam_number,period_number,home_jammer,home_pivot,home_blocker_1,home_blocker_2,home_blocker_3,away_jammer,away_pivot,away_blocker_1,away_blocker_2,away_blocker_3,home_team_points_scored,away_team_points_scored,home_lead,away_lead,lost_lead,called_jam_off
0,2118051218,1,1,4,7,3,8,14,21,20,28,29,27,3,0,True,False,False,True
1,2118051218,2,1,1,2,11,12,10,24,17,18,25,23,2,0,True,False,False,True
2,2118051218,3,1,4,7,3,8,14,22,20,27,29,28,4,0,True,False,False,True
3,2118051218,4,1,5,7,3,10,11,16,17,18,23,28,4,0,True,False,False,True
4,2118051218,5,1,1,3,8,6,14,16,20,18,28,27,0,13,False,True,False,True
5,2118051218,6,1,13,2,12,11,10,21,20,17,18,23,2,0,True,False,False,True
6,2118051218,7,1,4,3,14,11,8,24,20,28,27,23,4,0,True,False,False,True
7,2118051218,8,1,5,9,12,11,10,22,17,19,23,25,0,0,True,False,False,True
8,2118051218,9,1,4,3,8,14,7,16,20,29,28,27,0,14,False,True,False,False
9,2118051218,10,1,1,2,12,10,11,21,20,17,23,18,0,0,True,False,False,True
10,2118051218,11,1,13,3,8,6,14,24,20,27,28,18,5,0,True,False,False,True
11,2118051218,12,1,5,9,10,11,12,22,17,23,28,18,4,0,True,False,False,True
12,2118051218,13,1,4,7,3,14,8,21,20,27,28,18,9,0,True,False,False,True
13,2118051218,14,1,1,2,10,11,12,24,17,23,25,15,19,9,True,False,True,False
14,2118051218,15,1,4,3,10,14,8,22,20,28,27,29,2,0,True,False,False,True
15,2118051218,16,1,5,9,12,10,11,16,17,25,18,23,3,0,True,False,False,True
16,2118051218,17,1,13,7,14,8,3,21,17,28,20,27,9,0,True,False,False,True
17,2118051218,18,1,1,2,10,11,12,24,17,25,18,23,0,3,False,True,False,True
18,2118051218,19,1,4,7,3,8,14,22,20,29,28,27,18,0,True,False,False,True
19,2118051218,20,1,5,9,11,10,12,16,17,18,23,25,0,5,False,True,False,False
20,2118051218,21,1,5,3,14,8,6,21,20,29,28,27,0,11,False,True,False,True
21,2118051218,22,1,1,2,12,10,11,24,17,23,28,18,14,0,True,False,False,True
22,2118051218,1,2,4,2,3,8,14,21,20,28,27,29,14,0,True,False,False,True
23,2118051218,2,2,1,12,11,8,10,24,17,23,25,18,0,3,False,True,False,True
24,2118051218,3,2,4,12,3,8,14,22,20,29,28,27,0,11,False,True,False,True
25,2118051218,4,2,5,9,10,11,12,16,17,23,18,25,0,2,False,True,False,True
26,2118051218,5,2,13,7,3,14,8,21,20,28,29,27,0,5,False,True,False,True
27,2118051218,6,2,1,7,10,12,11,24,17,18,29,27,16,0,True,False,False,True
28,2118051218,7,2,4,7,8,3,14,22,17,28,29,20,4,0,True,False,False,False
29,2118051218,8,2,5,9,10,11,12,22,17,18,23,25,4,0,True,False,False,True
30,2118051218,9,2,1,7,3,14,8,16,20,28,29,27,0,20,False,True,False,True
31,2118051218,10,2,1,2,10,11,12,21,17,18,25,23,15,0,True,False,False,True
32,2118051218,11,2,13,2,3,8,14,24,20,28,29,27,1,0,True,False,False,True
33,2118051218,12,2,4,2,10,11,12,22,17,23,25,18,0,0,False,True,False,True
34,2118051218,13,2,5,7,3,14,8,16,20,27,29,28,3,13,False,True,False,True
35,2118051218,14,2,1,9,10,11,12,21,17,23,25,18,2,0,True,False,False,False
36,2118051218,15,2,4,3,14,8,12,24,20,27,28,29,14,0,True,False,False,False
37,2118051218,16,2,13,12,14,10,11,22,17,23,15,18,10,0,True,False,False,True
38,2118051218,17,2,5,7,3,8,14,16,28,27,15,18,4,0,True,False,False,True
39,2118051218,18,2,1,12,3,11,10,21,17,23,15,18,0,0,False,True,False,True
40,2118051218,19,2,4,7,8,14,3,24,20,27,29,28,3,0,True,False,False,True
41,2118051218,20,2,13,12,10,14,11,22,17,23,18,25,5,0,True,False,False,False
42,2118051218,21,2,1,7,14,8,3,16,17,23,27,28,19,0,False,True,True,False
43,2118051218,22,2,1,9,10,11,12,21,17,23,18,25,0,4,False,True,False,True
44,2118051218,23,2,4,7,3,14,8,16,17,23,18,25,9,0,True,False,False,True

In [75]:
jams_final_df.to_sql('jams', engine, if_exists='append', index=False)

In [ ]:
#LINE UP df

# jam_number = row[1]
# period_number = row[12]

# home_jammer = row[2] // row[13]
# home_pivot = row[3] // row[14]
# home_blocker_1 = row[4] // row[15]
# home_blocker_2 = row[5] // row[16]
# home_blocker_3 = row[6] // row[17]

# away_jammer = row[7] // row[18]
# away_pivot = row[8] // row[19]
# away_blocker_1 = row[9] // row[20]
# away_blocker_2 = row[10] // row[21]
# away_blocker_3 = row[11] // row[22]

In [ ]:
# query = text("INSERT INTO jams (game_id, .\
#     jam_number,.\
#     period_number,.\
#     home_jammer,.\ #JAMMER ID
#     home_pivot,.\ #
#     home_blocker_1,.\
#     home_blocker_2,.\
#     home_blocker_3,.\
#     home_team_points_scored,.\
#     away_team_points_scored,.\
#     away_jammer,.\
#     away_pivot,.\
#     away_blocker_1,.\
#     away_blocker_2,.\
#     away_blocker_3,.\
#     away_lead,.\
#     home_lead,.\
#     lost_lead,.\
#     called_jam_off,.\
#     seconds_to_lead,.\
#     seconds_to_first_pass,).\
#     VALUES .\
#     (:sna, :sno) .\
#     ON CONFLICT DO NOTHING;")
# conn.execute(query,
#         {"game_id" :
#     "jam_number" :
#     "period_number" :
#     "home_jammer" :
#     "home_pivot" :
#     "home_blocker_1" :
#     "home_blocker_2" :
#     "home_blocker_3" :
#     "home_team_points_scored" :
#     "away_team_points_scored" :
#     "away_jammer" :
#     "away_pivot" :
#     "away_blocker_1" :
#     "away_blocker_2" :
#     "away_blocker_3" :
#     "away_lead" :
#     "home_lead" :
#     "lost_lead" :
#     "called_jam_off" :
#     "seconds_to_lead" :
#     "seconds_to_first_pass" :