In [1]:
import pandas as pd
import openpyxl
from IPython.display import display

In [2]:
path = "../STATS/all_stars_2018/test.xlsx"
stats_df = pd.read_excel(path, sheet_name="Penalties", engine="openpyxl")

stats_df = stats_df.drop([0], axis = "index")
stats_df = stats_df.rename(columns=stats_df.iloc[0]).drop(stats_df.index[0])
stats_df.columns = ["HOME_skaternum_1",
                    "HOME_1_1",
                    "HOME_2_1",
                    "HOME_3_1",
                    "HOME_4_1",
                    "HOME_5_1",
                    "HOME_6_1",
                    "HOME_7_1",
                    "HOME_8_1",
                    "HOME_9_1",
                    "not_needed", 
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "AWAY_skaternum_1",
                    "AWAY_1_1",
                    "AWAY_2_1",
                    "AWAY_3_1",
                    "AWAY_4_1",
                    "AWAY_5_1",
                    "AWAY_6_1",
                    "AWAY_7_1",
                    "AWAY_8_1",
                    "AWAY_9_1",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "HOME_skaternum_2",
                    "HOME_1_2",
                    "HOME_2_2",
                    "HOME_3_2",
                    "HOME_4_2",
                    "HOME_5_2",
                    "HOME_6_2",
                    "HOME_7_2",
                    "HOME_8_2",
                    "HOME_9_2",
                    "not_needed", 
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "AWAY_skaternum_2",
                    "AWAY_1_2",
                    "AWAY_2_2",
                    "AWAY_3_2",
                    "AWAY_4_2",
                    "AWAY_5_2",
                    "AWAY_6_2",
                    "AWAY_7_2",
                    "AWAY_8_2",
                    "AWAY_9_2",
                    "not_needed",
                    "not_needed",
                    "not_needed"]
stats_df = stats_df.reset_index(drop=True)
stats_df = stats_df.drop(["not_needed"], axis = 1)
stats_df = stats_df.fillna("Zero")

/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
#AWAY TEAM PERIOD 2

away_period_2 = stats_df.filter([
                    "AWAY_skaternum_2",
                    "AWAY_1_2",
                    "AWAY_2_2",
                    "AWAY_3_2",
                    "AWAY_4_2",
                    "AWAY_5_2",
                    "AWAY_6_2",
                    "AWAY_7_2",
                    "AWAY_8_2",
                    "AWAY_9_2"], axis=1)

away_period_2["period"] = 2

In [4]:
#AWAY TEAM PERIOD 1

away_period_1 = stats_df.filter([
                    "AWAY_skaternum_1",
                    "AWAY_1_1",
                    "AWAY_2_1",
                    "AWAY_3_1",
                    "AWAY_4_1",
                    "AWAY_5_1",
                    "AWAY_6_1",
                    "AWAY_7_1",
                    "AWAY_8_1",
                    "AWAY_9_1"], axis=1)

away_period_1["period"] = 1

In [5]:
#HOME TEAM PERIOD 2

home_period_2 = stats_df.filter([
                    "HOME_skaternum_2",
                    "HOME_1_2",
                    "HOME_2_2",
                    "HOME_3_2",
                    "HOME_4_2",
                    "HOME_5_2",
                    "HOME_6_2",
                    "HOME_7_2",
                    "HOME_8_2",
                    "HOME_9_2"], axis=1)

home_period_2["period"] = 2

In [6]:
#HOME TEAM PERIOD 1

home_period_1 = stats_df.filter(["HOME_skaternum_1",
                    "HOME_1_1",
                    "HOME_2_1",
                    "HOME_3_1",
                    "HOME_4_1",
                    "HOME_5_1",
                    "HOME_6_1",
                    "HOME_7_1",
                    "HOME_8_1",
                    "HOME_9_1"], axis=1)
home_period_1["period"] = 1

In [7]:
home_period_1.head(2)
#away_period_1.head(2)
#home_period_2.head(2)
#away_period_2.head(2)

,HOME_skaternum_1,HOME_1_1,HOME_2_1,HOME_3_1,HOME_4_1,HOME_5_1,HOME_6_1,HOME_7_1,HOME_8_1,HOME_9_1,period
0,010,X,B,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
1,Zero,5,14,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1

In [8]:
def clean_penalty_dfs(df):
    
    df.columns = ["skater_number",
                        "column_1",
                        "column_2",
                        "column_3",
                        "column_4",
                        "column_5",
                        "column_6",
                        "column_7",
                        "column_8",
                        "column_9",
                        "period"]  
    
    for index, row in df.iterrows():    
        if row.skater_number != "Zero":
            number = row.skater_number      
        else:
            row.skater_number = number
            
    df = df.set_index(df.skater_number, drop=True)
    df = df.drop(columns="skater_number")
    
    series_func = df.column_1.\
                    append(df.column_2).\
                    append(df.column_3).\
                    append(df.column_4).\
                    append(df.column_5).\
                    append(df.column_6).\
                    append(df.column_7).\
                    append(df.column_8).\
                    append(df.column_9)
    
    df = pd.DataFrame({"jam_number": series_func, 
                        "penalty_code": series_func,
                        "period": df["period"][0]})
    
    for index, row in df.iterrows(): 
        if isinstance(row.jam_number, str):
            row.jam_number = None       

    for index, row in df.iterrows():
        if isinstance(row.penalty_code, str):
            code = row.penalty_code
        else: 
            row.penalty_code = code  
            
    df = df.dropna()
    df = df.drop("Non-Skater Expulsions")
    df = df.reset_index()
    
    return df

In [9]:
clean_penalty_dfs(home_period_1)
clean_penalty_dfs(away_period_1)
clean_penalty_dfs(home_period_2)
clean_penalty_dfs(away_period_2)

    skater_number jam_number penalty_code  period
0             077          C            C       2
1            Zero         16           16       2
2             111       Zero         Zero       2
3            Zero       Zero         Zero       2
4              21       Zero         Zero       2
..            ...        ...          ...     ...
382          Zero       Zero         Zero       2
383          Zero       Zero         Zero       2
384          Zero       Zero         Zero       2
385          Zero       Zero         Zero       2
386          Zero       Zero         Zero       2

[387 rows x 4 columns]

In [10]:
home_period_1.head()

,skater_number,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9,period
0,010,X,B,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
1,Zero,5,14,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
2,1680,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
3,Zero,22,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
4,17,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1

In [16]:
for index, row in home_period_1.iterrows():
    if row.skater_number != "Zero":
        number = row.skater_number
    else:
        row.skater_number = number
        print("ELSE")
        print(row.skater_number)

home_period_1

ELSE
010
ELSE
1680
ELSE
17
ELSE
1706
ELSE
1978
ELSE
213
ELSE
23
ELSE
314
ELSE
32
ELSE
4
ELSE
41
ELSE
4500
ELSE
56
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
68
ELSE
Non-Skater Expulsions
ELSE
Non-Skater Expulsions
ELSE
Non-Skater Expulsions

,skater_number,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9,period
0,010,X,B,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
1,Zero,5,14,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
2,1680,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
3,Zero,22,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
4,17,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
5,Zero,3,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
6,1706,C,X,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
7,Zero,9,9,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
8,1978,C,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
9,Zero,20,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
10,213,C,M,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
11,Zero,5,11,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
12,23,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
13,Zero,3,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
14,314,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
15,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
16,32,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
17,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
18,4,D,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
19,Zero,14,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
20,41,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
21,Zero,6,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
22,4500,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
23,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
24,56,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
25,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
26,68,D,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
27,Zero,5,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
28,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
29,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
30,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
31,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
32,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
33,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
34,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
35,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
36,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
37,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
38,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
39,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
40,Non-Skater Expulsions,Zero,Zero,Zero,0,TOTAL PENALTIES FOR PERIOD 1:,Zero,Zero,Zero,Zero,1
41,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
42,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
43,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1

In [12]:
home_period_1.head()

,skater_number,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9,period
0,010,X,B,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
1,Zero,5,14,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
2,1680,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
3,Zero,22,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1
4,17,P,Zero,Zero,Zero,Zero,Zero,Zero,Zero,Zero,1