In [7]:
import pandas as pd
import openpyxl
import time
import datetime
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData
from sqlalchemy.sql.expression import update
meta = MetaData()
from sqlalchemy.sql import text

In [4]:
def clean_lineups(path):
    
    stats_df = pd.read_excel(path, sheet_name="Lineups", engine="openpyxl")
    stats_df = stats_df.fillna(0)
    stats_df = stats_df.drop([0], axis = "index")
    stats_df = stats_df.reset_index()
    stats_df = stats_df.rename(columns=stats_df.iloc[0]).drop(stats_df.index[0])
    stats_df = stats_df.drop([1, "noPivot", "Box", 0.0, 0, "Team Roster"], axis = 1)
    stats_df.columns = ["jam_number",
                        "home_jammer_number",
                        "home_pivot_number",
                        "home_blocker_1_number",
                        "home_blocker_2_number",
                        "home_blocker_3_number",
                        "redundant",
                        "away_jammer_number",
                        "away_pivot_number",
                        "away_blocker_1_number",
                        "away_blocker_2_number",
                        "away_blocker_3_number"]
    stats_df = stats_df.drop(["redundant"], axis = 1)
    #Splitting Period one and two into separate dataframes
    period_one_lineups_df = stats_df[0:38]
    period_one_lineups_df["period"] = 1
    period_two_lineups_df = stats_df[42:80]
    period_two_lineups_df["period"] = 2
    frames = [period_one_lineups_df, period_two_lineups_df]
    result_df = pd.concat(frames).reset_index(drop=True)
    
    return result_df

In [28]:
lineup_df = clean_lineups("../STATS/all_stars_2018/test.xlsx")
lineup_df.head()

/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
<ipython-input-4-fe97f364127d>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  period_one_lineups_df["period"] = 1
<ipython-input-4-fe97f364127d>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  period_two_lineups_df["period"] = 2

,jam_number,home_jammer_number,home_pivot_number,home_blocker_1_number,home_blocker_2_number,home_blocker_3_number,away_jammer_number,away_pivot_number,away_blocker_1_number,away_blocker_2_number,away_blocker_3_number,period
0,1,1706,23,17,314,68,480,301,912,950,9,1
1,2,010,1680,41,4500,4,814,21,235,82,62,1
2,3,1706,23,17,314,68,6,301,9,950,912,1
3,4,1978,23,17,4,41,111,21,235,62,912,1
4,5,010,17,314,213,68,111,301,235,912,9,1

In [24]:
def clean_sk(path):

    stats_df = pd.read_excel(path, sheet_name="SK", engine="openpyxl")

    #Formatting the sheet
    stats_df = stats_df.dropna(axis=1, how="all")
    stats_df = stats_df.dropna(axis="index", how="all").reset_index()
    stats_df = stats_df = stats_df.rename(columns=stats_df.iloc[0]).drop(stats_df.index[0])
    stats_df = stats_df.drop([0], axis = 1)
    stats_df.columns = ["jam_number",
                    "not_needed",
                    "home_jammer_number",
                    "home_points_scored",
                    "not_needed",
                    "not_needed",
                    "home_lost_lead",
                    "home_gained_lead",
                    "not_needed",
                    "home_called_off_jam",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "away_jammer_number",
                    "away_points_scored",
                    "not_needed",
                    "not_needed",
                    "away_lost_lead",
                    "away_gained_lead",
                    "not_needed",
                    "away_called_off_jam",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed",
                    "not_needed"]
    stats_df  = stats_df.drop(["not_needed"], axis = 1)
    stats_df = stats_df.fillna("0")
    stats_df = stats_df.reset_index(drop=True)

    #Splitting Period one and two into separate dataframes
    period_one_stats_df = stats_df[:38]
    period_one_stats_df["period"] = 1
    period_two_stats_df = stats_df[42:80]
    period_two_stats_df["period"] = 2
    
    frames = [period_one_stats_df, period_two_stats_df]
    result_df = pd.concat(frames).reset_index(drop=True)
    
    return result_df

In [25]:
scores_df = clean_sk("../STATS/all_stars_2018/test.xlsx")
scores_df.head()

/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
<ipython-input-24-658a89b56b90>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  period_one_stats_df["period"] = 1
<ipython-input-24-658a89b56b90>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  period_two_stats_df["period"] = 2

,jam_number,home_jammer_number,home_points_scored,home_lost_lead,home_gained_lead,home_called_off_jam,away_jammer_number,away_points_scored,away_lost_lead,away_gained_lead,away_called_off_jam,period
0,1,1706,3,0,1,1,480,0,0,0,0,1
1,2,010,2,0,1,1,814,0,0,0,0,1
2,3,1706,4,0,1,1,6,0,0,0,0,1
3,4,1978,4,0,1,1,111,0,1,0,0,1
4,5,010,0,1,0,0,111,13,0,1,1,1

In [39]:
for row in scores_df.itertuples():
    print(row[12])
    print("-------------")

1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
1
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------
2
-------------

In [ ]:
# SCORES DF

#jam_number = row[1]
#period_number = row[12]
#home_team_points_scored = row[3]
#away_team_points_scored = row[8]
#away_lead = row[10] ### 1 = TRUE // 0 = FALSE
#home_lead = row[5] ### 1 = TRUE // 0 = FALSE
#lost_lead = row[4], row[9] // ### 1 = TRUE // 0 = FALSE
#called_jam_off = row[6], row[11]  // ### 1 = TRUE // 0 = FALSE

In [ ]:
for row in scores_df.itertuples():
    home_team_points_scored = int(row[3])
    away_team_points_scored = int(row[8])
    if row[5] == 1:
        home_lead = True
        away_lead = False
        if row[4] == 1:
            lost_lead = True
        else:
            lost_lead = False
        if row[6] == 1:
            called_jam_off = True
        else:
            called_jam_off = False
    else:
        home_lead = False
        away_lead = True
        if row[9] == 1:
            lost_lead = True
        else:
            lost_lead = False
        if row[11] == 1:
            called_jam_off = True
        else:
            called_jam_off = False

In [8]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/GGRD_Database')
conn = engine.connect()

In [22]:
for row in lineup_df.itertuples():
    jam_number = int(row[1])
    period_number = int(row[12])

IndexError: tuple index out of range

In [ ]:

#LINE UP df

jam_number = row[1]
period_number = row[12]

home_jammer = row[2]
home_pivot = row[3]
home_blocker_1 = row[4]
home_blocker_2 = row[5]
home_blocker_3 = row[6]

away_jammer = row[7]
away_pivot = row[8]
away_blocker_1 = row[9]
away_blocker_2 = row[10]
away_blocker_3 = row[11]

In [ ]:
query = text("INSERT INTO jams (game_id, .\
    jam_number,.\
    period_number,.\
    home_jammer,.\
    home_pivot,.\
    home_blocker_1,.\
    home_blocker_2,.\
    home_blocker_3,.\
    home_team_points_scored,.\
    away_team_points_scored,.\
    away_jammer,.\
    away_pivot,.\
    away_blocker_1,.\
    away_blocker_2,.\
    away_blocker_3,.\
    away_lead,.\
    home_lead,.\
    lost_lead,.\
    called_jam_off,.\
    seconds_to_lead,.\
    seconds_to_first_pass,).\
    VALUES .\
    (:sna, :sno) .\
    ON CONFLICT DO NOTHING;")
conn.execute(query,
        {"game_id" :
    "jam_number" :
    "period_number" :
    "home_jammer" :
    "home_pivot" :
    "home_blocker_1" :
    "home_blocker_2" :
    "home_blocker_3" :
    "home_team_points_scored" :
    "away_team_points_scored" :
    "away_jammer" :
    "away_pivot" :
    "away_blocker_1" :
    "away_blocker_2" :
    "away_blocker_3" :
    "away_lead" :
    "home_lead" :
    "lost_lead" :
    "called_jam_off" :
    "seconds_to_lead" :
    "seconds_to_first_pass" :